*                text=auto

*.plist.template text eol=lf
*.md             text diff=markdown
.git*            text

*.hh             text
*.cc             text
*.mm             text
*.s              text
