*                text=auto

*.plist.template text eol=lf
*.md             text diff=markdown
*.mmd            text
.git*            text

*.hh             text diff=cpp
*.cc             text diff=cpp
*.mm             text diff=objc
*.s              text

*.bin            binary
