<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>@RDNN@</string>

  <key>ProgramArguments</key>
  <array>
    <string>@BIN_DIR@/@AGENT_NAME@</string>
    <string>@EXIFTOOL@</string>

    <string>@INPUT_DIR@</string>
    <string>@OUTPUT_DIR@</string>
    <string>@ARG_FILES_DIR@</string>

    <string>@HW_MODEL@</string>
    <string>@MAX_RETRIES@</string>
    <string>@LATENCY@</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>LC_ALL</key>
    <string>en_US.UTF-8</string>
  </dict>

  <key>KeepAlive</key>
  <true/>

  <key>RunAtLoad></key>
  <true>

  <key>ProcessType</key>
  <string>Adaptive</string>
</dict>
</plist>
